@import "./variables";

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');


html, body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: $bg-color;
}

ul {
  margin: 0;
  padding-left: 0;

}

p {
  font-weight: 500;
  font-size: 1.1rem;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  line-height: 1.5;
}

h4, .h4 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.bg-background {
  background-color: $bg-color;
}

.container {
  max-width: 900px;
}

.locale-select {
  z-index: 100;
  min-width: 50px;
}

.font-digit-readable {
  font-family: 'Inconsolata', monospace;
  font-size: 1.4em;
  margin-left: 0.25rem !important; // same as alphanumeric-input
}

.fw-500 {
  font-weight: 500;
}

.w-fit-content {
  width: fit-content;
  width: -moz-fit-content;
}

.form-control {
  &.danger {
    border-color: $danger;

    &:focus {
      box-shadow: rgba($danger, .25) 0px 0px 0px 0.25rem;
    }
  }
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  border: 3px solid var(--bs-primary);
  background-color: transparent;
  padding: initial;
  margin: 0.25rem !important;
}

@media screen and (min-width: 997px) {
  .form-check-input {
    width: 1.2em;
    height: 1.2em;
  } 
}