// Customize theme

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
}
