// Customize theme

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');


html, body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
}

.locale-select {
  z-index: 1000;
  min-width: 50px;
}

.font-digit-readable {
  font-family: 'Inconsolata', monospace;
}

.form-control {
  &.success {
    border-color: $success;

    &:focus {
      box-shadow: rgba($success, .25) 0px 0px 0px 0.25rem;
    }
  }

  &.danger {
    border-color: $danger;

    &:focus {
      box-shadow: rgba($danger, .25) 0px 0px 0px 0.25rem;
    }
  }
}
